<h5>Ngif</h5>


<div *ngIf="cursos.length > 0" >
  <div>
    Lista cursos aqui!
    <ul>
      <li *ngFor="let curso of cursos">
        {{curso}}
      </li>
    </ul>
  </div>
</div>

<div *ngIf="mostrarCursos" >
    <div>
      Lista cursos aqui!
      <ul>
        <li *ngFor="let curso of cursos">
          {{curso}}
        </li>
      </ul>
    </div>
  </div>
